@media (max-width: 993px) {
    .container {
        width: 950px;
    }

    .header__info {
        font-size: 18px;
    }

    .header__menu {
        font-size: 14px;
    }

    .header__link {
        font-size: 14px;
    }

    .header__btn {
        font-size: 14px;
        line-height: 10px;
        padding: 10px 34px;
    }

    .user__title {
        font-size: 41px;
        line-height: 61px;
    }

    .user__desc {
        line-height: 25px;
    }

    .user__button {
        line-height: 19px;
        padding: 12px 47px;
    }

    .about {
        padding: 25px 0 42px;
    }

    .about__title {
        font-size: 20px;
    }

    .about_desc {
        font-size: 14px;
    }

    .features__desc {
        line-height: 25px;
    }

    .features__title {
        font-size: 32px;
        line-height: 40px;
    }

    .features__use-desc {
        font-size: 14px;
    }

    .choose__title {
        font-size: 30px;
        line-height: 27px;
    }

    .choose__desc {
        line-height: 24px;
        font-size: 14px;
    }

    .choose__plan {
        font-size: 16px;
        line-height: 23px;
    }

    .choose__box {
        border: 1px solid #DDDDDD;
        padding: 31px 10px 31px 10px;
    }

    .choose__use-desc {
        font-size: 12px;
    }

    .choose__info {
        font-size: 19px;
        margin: 86px 0 20px;
    }

    .choose__button {
        line-height: 13px;
        padding: 13px 47px;
    }

    .choose__standard {
        font-size: 19px;
        margin: 54px 0 20px;
    }

    .choose__premium {
        font-size: 19px;
        margin: 11px 0 20px;
    }

    .choose {
        padding: 68px 0 113px;
    }

    .map {
        padding: 100px 0 35px;
    }

    .customer__info {
        margin-top: 15px;
        line-height: 20px;
        font-size: 14px;
    }

    .customer__subdesc {
        font-size: 12px;
        line-height: 20px;
    }

    .customer__number {
        line-height: 20px;
        font-size: 12px;
        margin-right: 6px;
    }

    .customer__subtitle {
        line-height: 19px;
    }

    .map__title {
        font-size: 30px;
        line-height: 39px;
    }

    .map__desc {
        line-height: 22px;
        font-size: 14px;
    }

    img {
        max-width: 85%;
    }

    .map__desc {
        margin: 18px 0 48px;
    }

    .customer {
        padding: 0 0 181px;
    }

    .customer__title {
        font-size: 29px;
        line-height: 35px;
    }

    .customer__desc {
        line-height: 23px;
    }

    .special__title {
        font-size: 22px;
        line-height: 32px;
    }

    .special__desc {
        font-size: 14px;
    }

    .customer__special-box {
        width: 905px;
        Height: 220px;
    }

    .special__btn {
        line-height: 14px;
        font-size: 12px;
        padding: 17px 40px;
    }

    .footer__info {
        font-size: 13px;
        line-height: 22px;
    }

    .footer__copy {
        line-height: 24px;
        margin-top: 25px;
        font-size: 14px;
    }

    .footer__subtitle {
        font-size: 14px;
    }

    .footer ul li:not(:last-child) {
        margin-bottom: 6px;
    }

    .footer ul li {
        line-height: 25px;
        font-size: 11px;
    }

    .footer__content {
        grid-column-gap: 50px;
    }
    .map {
        padding: 50px 0;
    }
}

@media (max-width: 992px) {
    .container {
        width: 750px;
    }

    .header__burger {
        display: block;
    }

    .header__burger svg {
        font-size: 15px;
    }

    .header__form {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .user__title {
        font-size: 34px;
        line-height: 50px;
    }

    .user {
        padding: 31px 0 103px;
    }

    .user__desc {
        line-height: 21px;
        font-size: 14px;
    }

    .user__button {
        line-height: 15px;
        padding: 10px 25px;
        font-size: 12px;
    }

    .about__content {
        padding: 50px 0 50px 0;
    }

    .about__title {
        font-size: 15px;
    }

    .about_desc {
        font-size: 12px;
    }

    .about__svg {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .features {
        padding: 55px 0 126px;
    }

    .features__content {
        grid-column-gap: 39px;
    }

    .features__title {
        font-size: 27px;
        line-height: 34px;
    }

    .features__desc {
        line-height: 20px;
        font-size: 14px;
    }

    .features__use-desc {
        font-size: 12px;
    }

    .choose__title {
        font-size: 24px;
        line-height: 20px;
    }

    .choose__desc {
        line-height: 19px;
        font-size: 12px;
    }

    .choose__use-desc {
        font-size: 10px;
        margin-left: 8px;
    }

    img {
        max-width: 77%;
    }

    .choose__plan {
        font-size: 15px;
        line-height: 14px;
        margin: 24px 0;
    }

    .choose__info {
        font-size: 14px;
    }

    .choose__standard {
        font-size: 14px;
        margin: 46px 0 20px;
    }

    .choose__premium {
        font-size: 14px;
        margin: 8px 0 20px;
    }

    .choose__content {
        grid-column-gap: 21px;
    }

    .choose__button {
        line-height: 10px;
        padding: 13px 35px;
    }

    .map__title {
        font-size: 25px;
        line-height: 33px;
    }

    .customer__title {
        font-size: 23px;
        line-height: 27px;
    }

    .customer__desc {
        line-height: 20px;
        font-size: 12px;
    }

    .customer__info {
        margin-top: 10px;
        line-height: 15px;
        font-size: 12px;
    }

    .customer__subdesc {
        font-size: 10px;
        line-height: 17px;
    }

    .customer__special-box {
        width: 713px;
        Height: 200px;
    }

    .special__title {
        font-size: 16px;
        line-height: 23px;
    }

    .special__desc {
        font-size: 13px;
    }

    .special__btn {
        line-height: 12px;
        font-size: 11px;
        padding: 14px 30px;
    }

    .customer__block {
        justify-content: flex-start;
    }

    .customer__block {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 768px) {
    /*481 - 768*/
    .container {
        width: 470px;
    }

    .user__title {
        font-size: 20px;
        line-height: 30px;
    }

    .col-4 {
        width: 100%;
    }

    .choose__content {
        grid-template-columns: 1fr;
    }

    .user__content {
        grid-template-columns: none;
    }

    .features__content {
        grid-template-columns: none;
    }
    .map__content{
        display: inline-block;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer__content {
        grid-template-columns: none;
    }

    .d-flex {
        display: none
    }

    .header__info {
        font-size: 13px;
    }

    .user__title {
        font-size: 16px;
        line-height: 22px;
    }

    .header {
        padding: 45px 0 34px;
    }

    .user__desc {
        line-height: 16px;
        font-size: 11px;
        margin: 20px 0 43px;
    }

    .about__content {
        display: block;
    }

    .user__button {
        line-height: 12px;
        padding: 6px 18px;
        font-size: 9px;
    }

    .user {
        padding: 31px 0 38px;
    }

    .features {
        padding: 6px 0 69px;
    }

    .features__title {
        font-size: 18px;
        line-height: 24px;
    }

    .features__desc {
        line-height: 16px;
        font-size: 13px;
    }

    .features__use-desc {
        font-size: 11px;
        margin-left: 7px;
    }

    .features__use:not(:last-child) {
        margin-bottom: 8px;
    }

    .choose__title {
        font-size: 18px;
        line-height: 3px;
    }

    .choose__desc {
        line-height: 14px;
        font-size: 12px;
    }

    .choose__box {
        left: 0;
        right: 0;
        margin: auto;
    }

    .choose__info {
        font-size: 12px;
        margin: 20px 0 8px;
    }

    .choose__button {
        line-height: 9px;
        padding: 7px 18px;
    }

    .choose {
        padding: 67px 0 39px;
    }

    .choose__content.grid {
        grid-row-gap: 25px;
    }

    .choose__standard {
        margin: 35px 0 13px;
    }

    .map__title {
        font-size: 16px;
        line-height: 23px;
    }

    .map__desc {
        margin: 18px 0 8px;
        line-height: 16px;
        font-size: 11px;
    }

    .customer__title {
        font-size: 16px;
        line-height: 19px;
    }

    .customer__desc {
        line-height: 15px;
        font-size: 10px;
        margin: 20px 0 28px;
    }

    .footer {
        padding: 30px 0 50px;
        font-size: 13px;
        line-height: 18px;
    }

    .footer__info {
        font-size: 11px;
        line-height: 17px;
    }

    .footer__copy {
        line-height: 20px;
        margin-top: 20px;
        font-size: 12px;
    }

    .footer__subtitle {
        font-size: 13px;
    }

    .footer__subtitle {
        font-size: 15px;
        line-height: 16px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    /*320 - 480*/
    .container {
        width: 310px;
    }

    .user__title {
        font-size: 15px;
        line-height: 19px;
    }

    img {
        max-width: 100%;
    }

    .about__content {
        padding: 0;
    }

    .features__title {
        font-size: 15px;
        line-height: 19px;
    }

    .choose__info {
        font-size: 12px;
        margin: 5px 0 0;
    }

    .choose__plan {
        margin: 5px 0;
    }

    .choose__use:not(:last-child) {
        margin-bottom: 0;
    }

    .choose__info {
        margin: 5px 0 8px;
    }

    .about__content {
        display: flex;
    }

    .about__svg {
        margin: unset;
    }

    .about__users {
        flex-direction: column;
        align-items: center;
    }

    .about__locations {
        flex-direction: column;
        align-items: center;
    }

    .about__servers {
        flex-direction: column;
        align-items: center;
    }

    .about__date {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .no-js .owl-carousel, .owl-carousel.owl-loaded {
        display: none;
    }

    .customer {
        padding: 0 0 30px;
    }

    .user__box {
        margin-bottom: 25px;
    }

    .user__desc {
        margin: 20px 0 20px;
    }
    .user {
        padding: 31px 0;
    }
}